<div class="page-header">
  <h1>New Meeting</h1>
</div>

<%= form_tag(meetings_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :held_on, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :held_on, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :course_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :course_id, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Meeting", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
