<h1>New Course</h1>

<%= form_tag(courses_url, method: 'post') do %>
  <div>
    <%= label_tag :department %><br />
    <%= text_field_tag :department %>
  </div>

  <div>
    <%= label_tag :number %><br />
    <%= text_field_tag :number %>
  </div>

  <div>
    <%= label_tag :title %><br />
    <%= text_field_tag :title %>
  </div>

  <div>
    <%= submit_tag "Create Course" %>
  </div>
<% end %>
